<!--Content Heading-->
<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
   </ul>
<% } %>

<p>This is an internal system only. 
    Recipients are limited to the three generic accounts</p>

<p class="constraints">All inputs are required.</p>

<form action="/message/add" method="post">
    <label for="accountList">To:</label>
    <%- locals.receiverList %>

    <label for="message_subject">Subject:</label>
    <input 
        type="text" 
        id="message_subject" 
        name="message_subject"
        value="<%= locals.message_subject%>""
        required
    >
    
    <label for="message_body">Message:</label>
    <textarea 
        name="message_body" 
        id="message_body" 
        cols="50"
        rows="30"
        required
    ><%= locals.message_body %></textarea>

    <input type="submit" value="Send">

    <input type="hidden" name="message_from"
        <% if(locals.message_from) { %> 
            value="<%= locals.message_from %>"
        <% } else { %> value="<%= locals.account_id%>" 
        <% } %>
    > 

</form>

